---
BasedOnStyle: Mozilla
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignEscapedNewlines: Left
AlignOperands: 'true'
AlignTrailingComments: 'true'
BreakBeforeBraces: Attach
ColumnLimit: '140'
IncludeBlocks: Regroup
IndentWidth: '4'
TabWidth: '4'

...
